.movies-page {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(
    to left,
    rgb(184, 187, 5) 0%,
    rgb(0, 128, 17) 100%
  );
}

.chosen-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .movie-container {
    height: 400px;
    width: 30%;
  }
}

.recommended-movies-container{
  .movie-container:hover {
    color: white;
    cursor: default;
    img {
        opacity: 0.3;
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    background-color: rgba(0, 0, 0, 0.975);
    .movies-footer{
      opacity: 1;
    }
}
}